.printcheck {
	display: flex;
	
	.printcheck-inputs_wrapper {
		width: 100%;
		padding: 1rem;
	
		.printcheck-order_wrapper {
			max-height: 20rem;
			overflow: auto;
			
			.printcheck-food_item {
				display: flex;
				
				.food-name {
				}
				
				.food-amount {
				    align-self: flex-end;
				    margin-left: .5rem;
				    
				    font-size: .9rem;
				    color: #7a7a7a;
				}
				
				.food-name_price {
				    flex-grow: 1;
				    text-align: end;
				    margin-right: .5rem;
				}
			}
		}
		
		.printcheck-totalall_wrapper {
			display: grid;
		    grid-template-columns: auto min-content;
		    margin-right: .5rem;
		}
	}
}