body {
	margin: 0;
    font-family: "Segoe UI", sans-serif;
    
    background-color: #f2f2f2;
}

button {
    padding: .1rem 1rem;
    
	color: white;
	background-color: attr(data-color);
	
    font-family: inherit;
    font-size: 1.15rem;
    
    outline: none;
    
    border: none;
    border-radius: 2px;
    
    box-shadow: 0 2px 3px 0px #808080;
    
    cursor: pointer;
}

i {
    display: inline-block;
    
    position: relative;
    left: -.25rem;
    
	width: 1rem;
    height: 1rem;
    
    background: white;
}