.login-wrapper {
	display: flex;
	flex-direction: column;
	
	position: relative;
	// Vertically Center
	top: 50%;
	transform: translateY(-100%);
	
	width: 13rem;
	
	margin: 0 auto;
	padding: 1rem;
	
	border-radius: 5px;
	background: white;
	
	box-shadow: 1px 3px 7px 1px #787878;
	
	.login-header {
		h2 {
			margin: 0;
		}
	}
	
	.login-input_wrapper {
		margin: .375rem 0;
		
		h3 {
			margin: .25rem 0;
			font-weight: lighter;
		}
		
		input {
			width: 100%;
		}
		
		button {
			background-color: deeppink;
			float: right;
		}
	}
}